.filter {
    margin: 20px 0;
    position: relative;

    &__search {
        background-color: $clrB2;
        color: $clrN5;
        caret-color: $clrP1;
        border: 0;
        outline: 0;
        border-radius: 12px;
        padding: 12px;
        padding-inline-start: 42px;
        width: 100%;

        &::placeholder {
            color: $clrN3;
        }
    }

    &__icon {
        position: absolute;
        width: rem(24px);
        top: 8px;
        left: 9px;
    }
}
