.filter {
    margin: 20px 20px 0 20px;

    &__icon{
        margin-inline-end: 5px;
    }

    &__search {
        border-radius: 5px;
        outline-width: 0px;
        border: 1px solid rgba(255, 255, 255, 0);

        height: 30px;
        width: 200px;
        padding-inline-start: 8px;
    }
}

@media (max-width: $break-narrow) {
    .filter {
        &__search {
            width: calc(100% - 56px);;
        }
    }
    
}

@media (min-width: $break-normal) {
}

@media (min-width: $break-wide) {
}
