.contact-page {
    @include black-row;

    &__img {
        border-radius: 50%;
        width: 36px;
    }

    &__info {
        @include flex(column, center, flex-start);
        font-size: 14px;
        .phone {
            font-size: 12px;
            color: $clrN3;
        }
    }

}
