.contact-page {
    @include flex(row, start);
    width: 100%;
    padding: 10px 24px;
    gap: 16px;

    &__img {
        border-radius: 50%;
        width: 36px;
    }

    &__info {
        @include flex(column);
        font-size: 14px;
        .phone {
            font-size: 12px;
            color: $clrN3;
        }
    }

    &:hover {
        background-color: $clrB2;
    }

    border-bottom: 1px solid $clrN2;
    &:last-of-type {
        border: none;
    }
}
