.filter {
    border: $marginSides solid transparent;
    border-top: 0;
    border-bottom: 0;
    position: relative;
    width: 100%;

    &__search {
        @include input;
        padding-inline-start: 42px;
    }

    &__icon {
        position: absolute;
        width: rem(24px);
        top: 8px;
        left: 9px;
    }
}
