.move-preview {
    @include black-row;
    border-radius: 20px;
    background-color: $clrB2;
    border: none;
    padding: 10px 10px;

    img {
        width: 24px;
    }

    .left {
        @include flex(column, center, flex-start);
        gap: 4px;

        &__name {
            font-family: Poppins-SemiBold;
        }

        &__date {
            font-size: 12px;
            font-family: Poppins-Light;
            color: $clrN3;
        }
    }

    .value {
        @include flex(column, center, flex-end);
        margin-left: auto;

        &__crypto {
            font-size: 12px;
            font-family: Poppins-Light;
            color: $clrS2;
            &.red {
                color: $clrS1;
            }
        }
    }
}
