.trans {
    @include flex(column);
    gap: 12px;
    width: 100%;

    &__input {
        position: relative;
        width: 100%;

        input {
            @include input;
            padding-inline-start: 76px;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        img {
            position: absolute;
            width: 52px;
            top: 9.5px;
            left: 12px;
            // margin-right: 12px;
        }
        
        span{
            position: absolute;
            right: 12px;
            top: 9px;
            color: $clrN3;
        }
    }

    button {
        @include btn;
        &.disable {
            @include btn($clrS1);
            cursor: not-allowed;
        }
    }
}
