.details-cmp {
    @include flex(column);
    gap: 20px;

    &__btns {
        @include flex(row, space-between);
        width: 100%;
        cursor: pointer;
        .edit {
            color: $clrN4;
        }

        .back {
            width: 20px;
        }
    }

    .contact-det1 {
        @include flex();
        gap: 16px;
        
        &__img {
            width: 64px;
            border-radius: 50%;
        }
        
        .details {
            font-size: rem(18px); 
            margin-bottom: 16px; 
            font-family: Poppins-SemiBold;
        }
    }

    .contact-det2 {
        .row{
            @include black-row;
            i{
                color: $clrP1;
            }
        }
    }

    .add-trans{
        @include btn;
    }
}
