.contact-det {
    @include flex();
    gap: 50px;

    &__img {
        width: 300px;
    }

    .details {
        @include flex(column, center, flex-start);
        font-size: rem(20px);

        .details__icon {
            color: rgb(87, 87, 87);
            position: absolute;
            left: -31px;
            top: 3px;
            cursor: pointer;
        }

        .details__name,
        .details__email,
        .details__phone {
            position: relative;
        }
    }
}

@media (max-width: $break-narrow) {
    .contact-det {
        flex-direction: column;

        &__img {
            width: 200px;
        }

        .details {
            padding-inline-start: 30px;
        }
    }
}

@media (min-width: $break-normal) {
    .contact-det {
        &__img {
            width: 350px;
        }
    }
}

@media (min-width: $break-wide) {
    .contact-det {
        &__img {
            width: 400px;
        }
    }
}
