.edit-cmp {
    @include flex(column);
    padding: 40px;
    gap: 20px;

    &__btns {
        @include flex(row, space-between);
        width: 100%;
        cursor: pointer;

        .back,
        .trash {
            width: 20px;
        }
    }

    .contact-det {
        @include flex();
        gap: 60px;

        &__img {
            width: 200px;
            border-radius: 50%;
        }

        .edit {
            @include flex(column, space-evenly, flex-start);
            font-size: rem(20px);
            height: 100%;

            &__row {
                display: flex;
                flex-direction: column;
                input {
                    margin-inline-start: 10px;
                    width: 200px;
                }
            }

            &__save {
                align-self: flex-end;
            }
        }
    }
}

@media (max-width: $break-narrow) {
    .edit-cmp {
        .contact-det {
            flex-direction: column;
            align-items: flex-start;

            &__img {
                width: 100px;
            }

            .edit {
                padding-inline-start: 30px;
            }
        }
    }
}

@media (min-width: $break-normal) {
    .edit-cmp {
        .contact-det {
            &__img {
                width: 250px;
            }

            .edit {
                &__row {
                    flex-direction: row;
                    input {
                        width: 300px;
                    }
                }
            }
        }
    }
}

@media (min-width: $break-wide) {
    .edit-cmp {
        .contact-det {
            &__img {
                width: 300px;
            }
        }
    }
}
