.edit-cmp {
    @include flex(column);
    gap: 20px;

    &__btns {
        @include flex(row, space-between);
        width: 100%;
        cursor: pointer;

        .back,
        .trash {
            width: 20px;
        }
    }

    .contact-det {
        @include flex(column, center, flex-start);
        gap: 30px;
        width: 100%;

        &__img {
            width: 70px;
            border-radius: 50%;
            align-self: center;
        }

        .edit {
            @include flex(column, center, flex-start);
            gap: rem(25px);
            height: 100%;
            width: 100%;

            &__row {
                @include flex(column, start, flex-start);
                gap: rem(4px);
                width: 100%;

                label {
                    font-size: rem(14px);
                    font-family: Poppins-SemiBold;
                }
                input {
                    width: 100%;
                    @include input;
                    padding: rem(10px);
                    &:focus-visible {
                        border: 1px solid $clrP1;
                    }
                }
            }

            &__save {
                @include btn;
                height: 31px;
                width: 100px;
                align-self: center;
            }
        }
    }
}
