.market-page {
    gap: 20px;

    .select {
        background-color: $clrB2;
        color: $clrN3;
        padding: rem(8px);
        height: 40px;
        border-radius: 8px;
        @include flex();

        div {
            border-radius: 8px;
            padding: 4px 8px;
            cursor: pointer;
            &.active {
                background-color: $clrP1;
                color: $clrN1;
            }
        }
    }

    .rates {
        width: 100%;
    }
}
