*, *::before, *::after {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;
  background-color: #E5E5E5;
  color: $clrN5;
}

.app{
  background-color: $clrB1;
  @include flex(column, space-between)
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $clrN5;
}

img {
  width: 100%;
}

button,
input {
    cursor: pointer;
}