*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;
  background-color: #e5e5e5;
  color: $clrN5;
  font-family: Poppins-Regular;
}

.app {
  background-color: $clrB1;
  @include flex(column, space-between);
  // height: 100vh;
  // overflow-y: auto;

  main {
    @include flex(column);
    margin: $marginSides 0;
    width: -webkit-fill-available;
    // overflow-y: auto;
    // height: calc(100vh - 103px - 48px);
    &.add-margin {
      margin: $marginSides;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $clrN5;
}

img {
  width: 100%;
}

button,
input {
  cursor: pointer;
}
