*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;
  background-color: #e5e5e5;
  color: $clrN5;
  font-family: Poppins-Regular;
}

.app {
  background-color: $clrB1;
  @include flex(column, space-between);

  main {
    @include flex(column);
    margin-top: 10px;
    width: -webkit-fill-available;
    &.add-margin {
      margin: $marginSides;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $clrN5;
}

img {
  width: 100%;
}

button,
input {
  cursor: pointer;
}
