// COLORS
// primary
$clr1: #ffffff;
$clr2: rgb(222 222 222 / 75%);

// secondary
$shadowClr: #00000012;
$clr3: #f54336;
$clr4: #5579af;
// $clr3: lighten($clr2, 20%);

// // LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 900px;
$break-wide: 1200px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
